:root {
  --text-main-dark: rgb(48, 48, 48);
  --text-secondary-dark: rgb(85, 85, 85);

  --text-main-light: rgb(255, 255, 255);
  --text-secondary-light: rgba(157, 164, 189, 0.6);

  --text-accent: rgb(255, 108, 0);

  --accent: rgb(255, 108, 0);
  --secondary-light: rgb(247, 247, 247);
  --secondary-dark: rgb(25, 28, 38);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}
a:hover,
a:focus {
  color: var(--text-accent);
  transition: color 300ms linear;
  transition: color 300ms linear;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-main-light);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 9%;
  text-align: left;
  text-transform: uppercase;

  width: 160px;
  height: 40px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid var(--accent);
  border-radius: 25px;

  background-color: transparent;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent);
  transition: background-color 300ms linear;
}

.button.dark {
  color: var(--text-main-dark);
}

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;

  /* padding-left: 15px;
  padding-right: 15px; */
}

/* -------------pre after title -------------- */

.pre-title {
  color: var(--text-main-dark);
  font-size: 11px;
  font-weight: 600;
  /* line-height: 1.36; */
  letter-spacing: 10%;
  text-transform: uppercase;

  display: flex;
  align-items: center;
}

.pre-title::before {
  content: '';
  display: inline-block;
  align-self: center;

  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: var(--text-secondary-dark);
}

.pre-title.dark {
  color: var(--text-secondary-light);
}

.pre-title::before.dark {
  background-color: var(--text-secondary-light);
}

.pre-title.contacts-timetable {
  color: var(--text-main-light);
}

.pre-title.contacts-timetable::before {
  background-color: var(--text-main-light);
}

.title {
  color: var(--text-main-dark);
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 5%;
  text-align: left;

  margin: 20px 0;
  text-transform: capitalize;
}

.title.dark {
  color: var(--text-main-light);
}

.after-title {
  color: var(--text-secondary-dark);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 2%;
  text-align: left;

  margin-bottom: 20px;
}

.after-title.dark {
  color: var(--text-secondary-light);
}

.dark {
  color: var(--text-secondary-light);
}
/* -------------header----------------- */
.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 10%;
  text-align: left;
}

.header-container {
  display: flex;
  margin-top: 32px;
}

.header-nav {
  margin-left: 70px;
  align-content: center;
}

.header-list {
  display: flex;
  width: 386px;
  justify-content: space-between;

  color: var(--text-main-light);
}

.header-item {
  text-transform: capitalize;
}

.header-link {
  color: var(--text-main-light);
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-link-tel {
  align-self: center;
  margin-right: 40px;

  color: var(--text-main-light);
}

/* -----------------hero----------------------- */

.hero {
  display: flex;
  justify-content: left;
}

.sidebar {
  width: 93px;
  margin-top: 50%;
}

.sidebar-list {
  display: flex;
  align-items: center;

  margin-left: 20px;

  transform-origin: top left;
  transform: rotate(-90deg) translate(0px);
}

.sidebar-list::before {
  display: block;
  flex-shrink: 0;
  content: '';

  margin-right: 40px;

  width: 60px;
  height: 1px;
  background-color: var(--text-main-dark);
}

.sidebar-item:nth-child(1) {
  margin-right: 40px;
}

.hero-article {
  flex-grow: 1;
  background-color: grey;
  padding: 272px 0 296px 96px;

  background-image: url(../images/hero.jpeg);
  background-size: cover;
}

/*--------------- about------------- */

.about-wrap {
  display: flex;
  justify-content: center;
}

.about-list {
  display: flex;
}

.about-item:nth-child(2) {
  margin-left: 30px;
}

.about-desctiption {
  margin-left: 64px;
  width: 483px;
}

.about-article {
  color: var(--text-secondary-dark);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 2%;
  text-align: left;

  margin-bottom: 40px;
}

/* ---------------prices-------------- */

.prices-container {
  background: rgb(17, 19, 25);
  background-image: url(../images/img.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 130px 55px;
}

.prices-lists {
  display: flex;
}

.prices-list {
  padding: 30px 40px;
}

.prices-list-wrap {
  width: 50%;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.prices-list-wrap.left {
  background: linear-gradient(
    180deg,
    rgb(23, 26, 36),
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list-wrap.right {
  background: linear-gradient(
    180deg,
    rgb(9, 11, 19),
    rgba(9, 11, 19, 0.2) 100%
  );
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  color: var(--text-secondary-light);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 2%;
  text-align: left;
}

.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-item::before {
  content: '';
  border-bottom: 1px dotted var(--text-secondary-light);
  flex-grow: 1;

  margin-left: 6px;
  margin-right: 6px;
}

.prices-offer:first-child {
  order: -1;
}
/* -----------------reasons------------ */

.reasons-wrap {
  display: flex;
  justify-content: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 130px;
}

.reasons-item {
  box-sizing: border-box;
  width: 170px;
  height: 133px;
  background-color: var(--secondary-light);
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.reasons-item:nth-child(2n + 2) {
  margin-left: 30px;
  margin-top: 35px;
}

.reasons-counter {
  justify-content: center;
  color: rgb(48, 48, 48);
  font-family: Open Sans;
  font-size: 42px;
  font-weight: 700;
  line-height: calc(57 / 42);
  letter-spacing: 5%;
  text-align: center;
}

.reasons-counter::after {
  content: '+';

  /* + */
  position: absolute;
  width: 13px;
  height: 22px;
  top: -7px;
}

.reasons-benefits {
  width: 122px;
  color: rgb(48, 48, 48);
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: calc(15 / 11);
  letter-spacing: 0%;
  text-align: center;
}

.reasons-article {
  width: 500px;
}

/* -------------masters--------------- */

.masters {
  background: rgb(247, 247, 247);
}

.masters-container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.wrap {
  width: 500px;
  /* margin-left: calc((100% - 1170px) / 2); */
  margin-left: calc(((100% / 3 - 30px) - 370px) / 2);
}

.masters-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;

  flex-wrap: wrap;
}
.masters-item {
  width: calc((100% / 3 - 30px));
  margin-left: 30px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.masters-item:hover .masters-top-text {
  transform: translateY(0);
}

.masters-wrap {
  position: relative;
  overflow: hidden;
}

.masters-top-text {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 300ms linear;
  /* transition: transform 300ms linear; */

  background-color: #ff9d09c5;
}

.masters-name {
  color: var(--text-main-dark);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(25 / 18);
  letter-spacing: 2%;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 8px;
}

.masters-position {
  color: rgb(255, 108, 0);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(19 / 14);
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 30px;
}

.master-socials-list {
  display: flex;
  justify-content: center;
}

.master-socials-item + .master-socials-item {
  margin-left: 10px;
}

.master-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.master-socials-link:hover .master-socials-icon {
  fill: var(--accent);
  transition: fill 300ms linear;
}

.master-socials-icon {
  width: 20px;
  height: 20px;

  fill: var(--text-secondary-dark);
}

/* ------------gallery---------------- */

.gallery-pre-title {
  margin-bottom: 40px;
}
.gallery-list {
  display: flex;
  justify-content: center;
}

.gallery-item:nth-child(n + 2) {
  margin-left: 30px;
}

/* -------------------backdrop------------------- */
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: #00000033;
  position: fixed;
  top: 0;
}

.modal {
  width: 500px;
  min-height: 500px;
  background-color: white;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px;

  position: absolute;
  top: 10px;
  right: 10px;
}

/* --------------booking---------------- */
.contacts-wrap {
  background-color: var(--secondary-dark);
}

.container-wrap {
  display: flex;
}

.booking {
  width: calc(100% / 2 + 15px);
  padding: 130px 0px 193px 0px;
  margin-right: 40px;
}

.contacts-namesection {
  margin-bottom: 40px;
}

.booking-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.booking-form-text {
  color: rgba(157, 164, 189, 0.4);
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: calc(15 / 11);
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}

.booking-input {
  width: 260px;
  height: 24px;

  background-color: transparent;
  outline: none;
  border: 0px;
  border-bottom: 1px solid var(--text-secondary-light);
  transition: border-color 500ms;
}

.booking-input + .booking-input {
  margin-left: 25px;
}

.booking-input-long {
  width: 270px;
}

.booking-input:hover,
.booking-input:focus,
.booking-text:hover,
.booking-text:focus {
  border-color: var(--text-main-light);
}

.booking-input::placeholder,
.booking-text::placeholder {
  color: var(--text-secondary-light);
  transition: color 500ms;
}

.booking-input:hover::placeholder,
.booking-input:focus::placeholder,
.booking-text:hover::placeholder,
.booking-text:focus::placeholder {
  color: var(--text-main-light);
}

.booking-text {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;

  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  border-bottom: 1px solid var(--text-secondary-light);
}

.booking-button {
  margin: 0;
}

/* ------------contacts----------------- */

.contacts {
  width: calc(100% / 2 - 15px);
  background: url(../images/contacts-bg.png);
  background-size: cover;

  padding: 140px 100px 193px 100px;
}

.contacts-list {
  margin-bottom: 70px;
}

.contacts-timetable {
margin-bottom: 20px;
}

.contacts-link {
  color: var(--text-secondary-light);
  display: flex;
  align-items: center;
}

.contacts-icon {
  fill:var(--text-secondary-light);
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.contacts-link:hover .contacts-icon {
  fill: var(--accent);
  transition: fill 300ms linear;
}