:root {
  --text-main-dark: rgb(48, 48, 48);
  --text-secondary-dark: rgb(85, 85, 85);

  --text-main-light: rgb(255, 255, 255);
  --text-secondary-light: rgba(157, 164, 189, 0.6);

  --text-accent: rgb(255, 108, 0);

  --accent: rgb(255, 108, 0);
  --secondary-light: rgb(247, 247, 247);
  --secondary-dark: rgb(25, 28, 38);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}
a:hover,
a:focus {
  color: var(--text-accent);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.button {
  color: var(--text-main-light);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 9%;
  text-align: left;
  text-transform: uppercase;

  height: 40px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid var(--accent);
  border-radius: 25px;

  background-color: transparent;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--text-accent);
  color: black;
}

.button.dark {
  color: var(--text-main-dark);
}

.container {
  border: 1px solid red;
  width: 1200px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;

  /* padding-left: 15px;
  padding-right: 15px; */
}

/* -------------pre after title -------------- */

.pre-title {
  color: var(--text-main-dark);
  font-size: 11px;
  font-weight: 600;
  /* line-height: 1.36; */
  letter-spacing: 10%;
  text-transform: uppercase;

  display: flex;
  align-items: center;
}

.pre-title::before {
  content: '';
  display: inline-block;
  align-self: center;

  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: var(--text-secondary-dark);
}

.pre-title::before.dark {
  background-color: var(--text-secondary-light);
}

.pre-title.dark {
  color: var(--text-secondary-light);
}

.title {
  color: var(--text-main-dark);
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 5%;
  text-align: left;

  margin: 20px 0;
}

.title.dark {
  color: var(--text-main-light);
}

.after-title {
  color: var(--text-secondary-dark);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 2%;
  text-align: left;

  margin-bottom: 20px;
}

.after-title.dark {
  color: var(--text-secondary-light);
}

/* -------------header----------------- */
.header {
  display: flex;
  background: rgba(25, 28, 38, 0.2);

  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 10%;
  text-align: left;
}

.header-container {
  display: flex;
  margin-top: 32px;
}

.header-nav {
  margin-left: 70px;
  align-content: center;
}

.header-list {
  display: flex;
  width: 386px;
  justify-content: space-between;

  color: var(--text-main-light);
}

.header-item {
  text-transform: capitalize;
}

.header-link {
  color: var(--text-main-light);
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-link-tel {
  align-self: center;
  margin-right: 40px;

  color: var(--text-main-light);
}

/* -----------------hero----------------------- */

.hero {
  display: flex;
  justify-content: left;
}

.sidebar {
  background-color: #fff;
  width: 93px;
  margin-top: 280px;
}

.sidebar-list {
  display: flex;
  align-items: center;


  transform-origin: center;
  transform: rotate(-90deg);
}

.sidebar-list::before {
  display: block;
  flex-shrink: 0;
  content: '';

  margin-right: 40px;

  width: 60px;
  height: 1px;
  background-color: var(--text-main-dark);
}

.sidebar-item:nth-child(1) {
  margin-right: 40px;
}

.hero-article {
  flex-grow: 1;
  background-color: grey;
  padding: 272px 0 296px 96px;

  background-image: url(../images/hero.jpeg);
  background-size: cover;
}

/*--------------- about------------- */

.about-wrap {
  display: flex;
}

.about-list {
  display: flex;
}

.about-item:nth-child(2) {
  margin-left: 30px;
}

.about-desctiption {
  margin-left: 64px;
  width: 483px;
}

.about-article {
  color: var(--text-secondary-dark);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 2%;
  text-align: left;

  margin-bottom: 40px;
}

/* ---------------prices-------------- */



.prices-container {
  background: rgb(17, 19, 25);
  background-image: url(../images/img.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 130px 55px;
}

.prices-lists {
  display: flex;
}

.prices-list {
  padding: 30px 40px;

}

.prices-list-wrap {
  width: 50%;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.prices-list-wrap.left {
  background: linear-gradient(180.00deg, rgb(23, 26, 36),rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-wrap.right {
  background: linear-gradient(180.00deg, rgb(9, 11, 19),rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  color: var(--text-secondary-light);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 2%;
  text-align: left;
}

.prices-item+.prices-item {
  margin-top: 20px;
}

.prices-item::before {
  content: '';
  border-bottom: 1px dotted var(--text-secondary-light);
  flex-grow: 1;

  margin-left: 6px;
  margin-right: 6px;
}


.prices-offer:first-child {
  order: -1;
}
/* -----------------reasons------------ */

.reasons-wrap {
  display: flex;
  justify-content: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 130px;
}

.reasons-item {
  width: 170px;
  height: 133px;
  background-color: var(--secondary-light);
}

.reasons-item:nth-child(2n + 2) {
  margin-left: 30px;
  margin-top: 35px;
}

.reasons-counter {
  justify-content: center;
  color: rgb(48, 48, 48);
  font-family: Open Sans;
  font-size: 42px;
  font-weight: 700;
  line-height: calc(57 / 42);
  letter-spacing: 5%;
  text-align: center;
}

.reasons-benefits {
  width: 122px;
  color: rgb(48, 48, 48);
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: calc(15 / 11);
  letter-spacing: 0%;
  text-align: center;
}

.reasons-article {
  width: 500px;
}

/* -------------masters--------------- */

.masters {
  background: rgb(247, 247, 247);
}

.masters-container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.wrap {
  width: 500px;
  /* margin-left: calc((100% - 1170px) / 2); */
  margin-left: calc(((100% / 3 - 30px) - 370px) / 2);
}

.masters-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;

  flex-wrap: wrap;
}
.masters-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
.masters-item:nth-child(n + 2) {
  margin-left: 30px;
} */

.masters-name {
  color: var(--text-main-dark);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(25 / 18);
  letter-spacing: 2%;
  text-align: center;
}

.masters-position {
  color: rgb(255, 108, 0);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(19 / 14);
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 30px;
}

.master-socials-list {
  display: flex;
  justify-content: center;
}

.master-socials-item + .master-socials-item {
  margin-left: 10px;
}

.master-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.master-socials-link:hover .master-socials-icon {
  fill: var(--accent);
}

.master-socials-icon {
  width: 20px;
  height: 20px;

  fill: var(--text-secondary-dark);
}

/* ------------gallery---------------- */

.gallery-pre-title {
  margin-bottom: 40px;
}
.gallery-list {
  display: flex;
  justify-content: center;
}

.gallery-item:nth-child(n + 2) {
  margin-left: 30px;
}
