@use '../utils/mixins';

.about-wrap {
	display: flex;
	justify-content: center;
  }
  
  .about-list {
	display: flex;
  }
  
  .about-item {
	&:nth-child(2) {
		margin-left: 30px;
	  }
  }
  
  .about-desctiption {
	margin-left: 64px;
	width: 483px;
  }
  
  .about-description {
	@include mixins.font(14, 400, 1.85, 2);
	
	color: var(--text-secondary-dark);
	font-family: Open Sans;
	text-align: left;
  
	margin-bottom: 40px;
  }
  