.about-wrap {
	display: flex;
	justify-content: center;
  }
  
  .about-list {
	display: flex;
  }
  
  .about-item {
	&:nth-child(2) {
		margin-left: 30px;
	  }
  }
  
  .about-desctiption {
	margin-left: 64px;
	width: 483px;
  }
  
  .about-description {
	color: var(--text-secondary-dark);
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.85;
	letter-spacing: 2%;
	text-align: left;
  
	margin-bottom: 40px;
  }
  