@use '../utils/mixins' as *;
.booking {
  background-color: var(--secondary-dark);

  @include mobile {
    padding: 84px 30px;
  }

  @include tablet {
    max-width: 690px;
    padding: 100px 30px;
  }

  @include desktop {
    padding: 130px 40px 193px 0;
    width: 560px;
  }

  &__title--dark {
    @include title--dark;
  }

  &__title--position {
    margin-bottom: 40px;
  }
}

.booking-wrap {

  @include tablet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    margin-bottom: 40px;
  }
}

.booking-form {
  &-text {
    @include font(11, 600, null, 10);
    color: var(--text-secondary-light);
    font-family: Open Sans;
    text-align: left;
    text-transform: uppercase;
  }

  &__input {
    width: 260px;
    height: 24px;

    background-color: transparent;
    outline: none;
    border: 0px;
    border-bottom: 1px solid var(--text-secondary-light);
    transition: border-color 500ms;

    & + & {
      @include tablet {
        margin-left: 20px;
      }
    }

    &-long {
      width: 270px;
    }

    & + & {
      @include desktop {
        margin-left: 25px;
      }
    }

    &:hover,
    &:focus {
      border-color: var(--text-main-light);
    }

    &::placeholder {
      color: var(--text-secondary-light);
      transition: color 500ms;
    }

    &:hover::placeholder,
    &:focus::placeholder {
      color: var(--text-main-light);
    }

    &--text {
      width: 100%;
      height: 24px;
      margin-bottom: 44px;

      color: var(--text-main-light);
      background-color: transparent;
      border: none;
      resize: none;
      outline: none;
      border-bottom: 1px solid var(--text-secondary-light);

      &:hover,
      &:focus {
        border-color: var(--text-main-light);
      }

      &::placeholder {
        color: var(--text-secondary-light);
        transition: color 500ms;
      }

      &:hover::placeholder,
      &:focus::placeholder {
        color: var(--text-main-light);
      }
    }
  }

  &__message {
    height: 76px;
  }
}

.booking-form__button {
  @include button;
  margin: 0;

  // @media screen and (max-width: 767px) {
  //   margin: 0 auto;
  // }
}
