@use '../utils/mixins' as *;

.connection-container {
  background-color: var(--secondary-dark);

  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.connection-wrap {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.connection-wrap--bg {
  @include desktop {
    width: calc(100% / 2 - 15px);
    padding: 140px 100px 193px 100px;
  }
}
