@use '../utils/mixins';

.connection-container {
  background-color: var(--secondary-dark);

  @media screen and (min-width:1200px) {
    display: flex;
  }
}


.connection-wrap {
  margin: 0 auto;   
  @media screen and (min-width:767px) and (max-width:1199px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;

  }
}

.connection-wrap--bg {
 @media screen and (min-width: 1200px) {
    width: calc(100% / 2 - 15px);
    padding: 140px 100px 193px 100px;
  }
}


