@use '../utils/mixins' as *;

.contacts {
  &--bg {
    background: url(../images/contacts-bg.png);
    background-size: cover;
  }

  margin: 0 auto;
  padding: 84px 30px;

  @include tablet {
    width: 690px;
  }

  @include desktop {
    box-sizing: border-box;
    max-width: 625px;
    padding: 130px 100px;
  }

  &__title--dark {
    @include title--dark;
  }

  &__title--position {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @include tablet {
      justify-content: start;
    }
  }
}

.contacts-wrap {
  @include tablet {
    display: flex;
  }
}

.address {
  margin-bottom: 44px;
  @include mobile {
    display: flex;
    justify-content: center;
  }

  @include tablet {
    width: 330px;
  }
}

.contacts-list {
  &__item {
    @include after-title;
  }

  &__link {
    color: var(--text-secondary-light);

    &:hover {
      .contacts-list__icon {
        fill: var(--text-accent);
        transition: fill 300ms linear;
      }
    }
  }

  &__icon {
    fill: var(--text-secondary-light);
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
}

.timetable {
  @include mobile {
    display: flex;
    justify-content: center;
  }

  @include tablet {
    max-width: 330px;
    margin-left: auto;
  }

  &__after-title {
    @include after-title--dark;
  }

  &__pre-title--dark {
    margin-bottom: 20px;
    @include pre-title--dark;
  }
}
