@use '../utils/mixins';

.contacts {
  &--bg {
    background: url(../images/contacts-bg.png);
    background-size: cover;

	@media screen and (min-width: 1200px) {
		box-sizing: border-box;
		width: 625px;
		padding: 130px 100px;
	  }
  }

  margin: 0 auto;
  padding: 84px 30px;

  background: url(../images/contacts-bg.png);
    background-size: cover;

  &__title--dark {
    @include mixins.title--dark;
  }

  &__title--position {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      justify-content: start;
    }
  }
}

.contacts-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }
}

.address {
  margin-bottom: 44px;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    width: 330px;
  }
}

.contacts-list {
  &__item {
    @include mixins.after-title;
  }

  &__link {
    color: var(--text-secondary-light);

    &:hover {
      .contacts-list__icon {
        fill: var(--text-accent);
        transition: fill 300ms linear;
      }
    }
  }

  &__icon {
    fill: var(--text-secondary-light);
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
}

.timetable {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 330px;
    margin-left: auto;
  }

  &__after-title {
    @include mixins.after-title--dark;
  }

  &__pre-title--dark {
    margin-bottom: 20px;
    @include mixins.pre-title--dark;
  }
}
