@use '../utils/mixins';

.hero {
  display: flex;
  justify-content: left;
}

.sidebar {
  width: 93px;
  margin-top: 50%;
  display: none;
}

.sidebar-list {
  display: flex;
  align-items: center;

  transform-origin: top left;
  transform: rotate(-90deg) translate(0px);

  &--position {
    margin-left: 20px;
  }

  &::before {
    display: block;
    flex-shrink: 0;
    content: '';

    margin-right: 40px;

    width: 60px;
    height: 1px;
    background-color: var(--text-main-dark);
  }

  &__item {
    &:nth-child(1) {
      margin-right: 40px;
    }
  }
}

.hero-article {
  flex-grow: 1;
  background-color: grey;
  padding: 208px 0 183px 20px;

  &--wrap {
    @media screen and (min-width:480px) {
      width: 306px;
      padding-left: 31px;
    }
  }

  
  // padding: 272px 0 296px 96px;

  background-image: url(../images/hero.jpeg);
  background-position: center;
  background-size: cover;

  &__pre-title--dark {
    @include mixins.pre-title--dark(11, 600, 1.36);
  }

  &__title--dark {
    @include mixins.title--dark(48, 700, 1.16);
  }

  &__after-title--dark {
    @include mixins.after-title--dark(16, 400, 1.6);
	color: rgb(215, 220, 238);
  }
}
