@use '../utils/mixins' as *;

.hero {
  display: flex;
  margin: 0 auto;

  @include tablet {
    width: 690px;
    
  }

  @include desktop {
    height: 100vh;
  }
}

.sidebar {
  width: 93px;
  margin-top: 100%;
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: block;
    margin-top: 40%;
  }
}

.sidebar-list {
  display: flex;
  align-items: center;

  transform-origin: top left;
  transform: rotate(-90deg) translate(0px);

  &--position {
    margin-left: 35px;
  }

  &::before {
    display: block;
    flex-shrink: 0;
    content: '';

    margin-right: 40px;

    width: 60px;
    height: 1px;
    background-color: var(--text-main-dark);
  }

  &__item {
    &:nth-child(1) {
      margin-right: 40px;
    }
  }
}

.hero-article {
  flex-grow: 1;
  background-color: grey;
  padding: 208px 0 183px 20px;

  @include desktop {
    padding-left: 96px;
  }

  &--wrap {
    max-width: 336px;

    @include desktop {
      width: 444px;
    }
  }

  background-image: url(../images/hero.jpeg);
  background-position: center;
  background-size: cover;

  &__pre-title--dark {
    @include pre-title--dark(11, 600, 1.36);
  }

  &__title--dark {
    @include title--dark(48, 700, 1.16);
  }

  &__after-title--dark {
    @include after-title--dark(16, 400, 1.6);
    color: rgb(215, 220, 238);
  }
}
