@use '../utils/mixins';

.masters {
  background: rgb(247, 247, 247);
}

.masters-container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.wrap {
  width: 500px;
  margin-left: calc(((100% / 3 - 30px) - 370px) / 2);
}

.masters-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;

  flex-wrap: wrap;
}
.masters-item {
  width: calc((100% / 3 - 30px));
  margin-left: 30px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.masters-wrap {
  position: relative;
  overflow: hidden;
}

.masters-top-text {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 300ms linear;

  background-color: #ff9d09c5;

  .masters-item:hover & {
    transform: translateY(0);
  }
}

.masters-name {
  @include mixins.font(18, 400, null, 2);
  color: var(--text-main-dark);
  font-family: Open Sans;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 8px;
}

.masters-position {
  @include mixins.font(14, 400, null, 2);
  color: rgb(255, 108, 0);
  font-family: Open Sans;
  text-align: center;
  margin-bottom: 30px;
}

.master-socials-list {
  display: flex;
  justify-content: center;
}

.master-socials-item {
  & + & {
    margin-left: 10px;
  }
}

.master-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.master-socials-icon {
  width: 20px;
  height: 20px;

  fill: var(--text-secondary-dark);

  .master-socials-link:hover & {
    fill: var(--accent);
    transition: fill 300ms linear;
  }
}
