@use '../utils/mixins' as *;

.masters {
  background: rgb(247, 247, 247);
  // background-color: red;
  display: flex;
  justify-content: center;
}

.masters-container {
  padding-top: 130px;
  padding-bottom: 130px;

  @include mobile {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.masters-titles {

  margin-left: auto;
  margin-right: auto;

  &__pre-title {
    @include pre-title;
  }

  &__title {
    @include mobile {
      display: flex;
    justify-content: center;
    }
    @include title;
    margin-bottom: 40px;
  }
}

.masters-list {
  margin-bottom: -30px;
  @include desktop {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 30px;

    @include desktop {
      width: calc((100% / 3 - 30px));
      margin-left: 30px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    @include font(18, 400, null, 2);
    color: var(--text-main-dark);
    font-family: Open Sans;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 8px;
  }

  &__position {
    @include font(14, 400, null, 2);
    color: rgb(255, 108, 0);
    font-family: Open Sans;
    text-align: center;
    margin-bottom: 30px;
  }
}

.masters-description {
  position: relative;
  overflow: hidden;

  &__img {
    margin-left: auto;
    margin-right: auto;

    background-size: cover;
    height: 346px;

    @include mobile {
      max-width: 300px;
    }

    @include tablet {
      width: 450px;
    }
  }

  &__top-text {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
    
    @include desktop  {
      

      overflow: visible;
      box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform 300ms linear;

    background-color: #ff9d09c5;

    .masters-list__item:hover & {
      transform: translateY(0);
    }
  }  
    }
    
    
}

.master-socials-list {
  display: flex;
  justify-content: center;

  &__item {
    & + & {
      margin-left: 10px;
    }
  }

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 20px;
    height: 20px;

    fill: var(--text-secondary-dark);

    .master-socials-list__link:hover & {
      fill: var(--accent);
      transition: fill 300ms linear;
    }
  }
}
