@use '../utils/mixins';

.prices-container {
  background: rgb(17, 19, 25);
  background-image: url(../images/img.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 130px 55px;

  &__pre-title--dark {
    @include mixins.pre-title--dark;
  }

  &__title--dark {

    @include mixins.title--dark;
    margin-bottom: 40px;
  }
}

.prices-lists {
  display: flex;
}

.prices-list {
  padding: 30px 40px;
}

.prices-list-wrap {
  width: 50%;
  margin-bottom: 50px;
  flex-wrap: wrap;

  &.left {
    background: linear-gradient(
      180deg,
      rgb(23, 26, 36),
      rgba(23, 26, 36, 0.2) 100%
    );
  }

  &.right {
    background: linear-gradient(
      180deg,
      rgb(9, 11, 19),
      rgba(9, 11, 19, 0.2) 100%
    );
  }
}

.prices-item {
  @include mixins.font(18, 400, 1.6, 2);
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  color: var(--text-secondary-light);
  text-align: left;


  & + & {
	margin-top: 20px;
  }
  
  &::before {
	content: '';
	border-bottom: 1px dotted var(--text-secondary-light);
	flex-grow: 1;
  
	margin-left: 6px;
	margin-right: 6px;
  }
}



.prices-offer:first-child {
  order: -1;
}
