@use '../utils/mixins';

.prices-container {
  background: rgb(17, 19, 25);
  background-image: url(../images/img.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 84px 30px;

  &__pre-title--dark {
    @include mixins.pre-title--dark(11, 600, 1.36, );
  }

  &__title--dark {
    @include mixins.title--dark;
    margin-bottom: 40px;
  }
}

.prices-lists {
  @media screen and (max-width:1199px) {
    background: linear-gradient(180.00deg, rgb(23, 26, 36),rgba(23, 26, 36, 0.2) 100%);
    padding: 10px;
    margin-bottom: 30px;
  }

  @media screen and (min-width:480px) and (max-width:1199px) {
    padding: 30px;
  }

  @media screen and (min-width:1200px) {
    display: flex;
    margin-bottom: 50px;
  }
}

.prices-list__wrap {
 


    @media screen and (max-width:1199px) {
      margin-bottom: 20px;
    }

  @media screen and (min-width:1200px) {
    width: 585px;
    // width: 50%;
   
    // flex-wrap: wrap;

    &--left {
      background: linear-gradient(
        180deg,
        rgb(23, 26, 36),
        rgba(23, 26, 36, 0.2) 100%
      );
    }
  
    &--right {
      background: linear-gradient(
        180deg,
        rgb(9, 11, 19),
        rgba(9, 11, 19, 0.2) 100%
      );
    }
  }
}

.prices-list {
  @media screen and (min-width:1200px) {
    padding: 30px 40px;
  }

  &__item {
    @include mixins.font(14, 400, 2.14,);
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    color: var(--text-secondary-light);
    text-align: left;

    @media screen and (max-width:767px) {
      & {
        margin-top: 20px;
      }
    }

    @media screen and (min-width:768px) {
      & + & {
        margin-top: 20px;
      }
    }

    &::before {
      content: '';
      border-bottom: 1px dotted var(--text-secondary-light);
      flex-grow: 1;

      margin-left: 6px;
      margin-right: 6px;
    }
  }

  &__offer:first-child {
    order: -1;
  }
}
