@use '../utils/mixins';

.button {
  @include mixins.font(null, 600, null, 9);
  
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-main-light);
  text-transform: uppercase;

  min-width: 160px;
  height: 40px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid var(--accent);
  border-radius: 25px;

  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--accent);
    transition: background-color 300ms linear;
  }

  &.dark {
    color: var(--text-main-dark);
  }
}
