@use '../utils/mixins';
/* -------------pre after title -------------- */

.pre-title {
  @include mixins.font(null, 600, 1.36, 10);

  color: var(--text-main-dark);
  text-transform: uppercase;

  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    align-self: center;

    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: var(--text-secondary-dark);
  }

  &.dark {
    color: var(--text-secondary-light);
  }

  &::before.dark {
    background-color: var(--text-secondary-light);
  }
}

.title {
  @include mixins.font(42, 700, 1.16, 5);
  color: var(--text-main-dark);

  font-family: Raleway;
  text-align: left;
  text-transform: capitalize;

  margin: 20px 0;

  &.dark {
    color: var(--text-main-light);
  }
}

.after-title {
  @include mixins.font(18, 400, 1.6, 2);
  color: var(--text-secondary-dark);
  font-family: Open Sans;
  text-align: left;

  margin-bottom: 20px;

  &.dark {
    color: var(--text-secondary-light);
  }
}