@mixin font($fs: 12, $fw: 400, $lh: 1.36, $ls:normal) {
  font-size: $fs + px;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

/* ------------- mixins pre after title -------------- */

@mixin pre-title($fs: 11, $fw: 600, $lh: 1.36, $ls:normal) {
  @include font($fs, $fw, $lh, $ls);

  color: var(--text-main-dark);
  text-transform: uppercase;

  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    align-self: center;

    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: var(--text-secondary-dark);
  }
}

@mixin pre-title--dark($fs: 11, $fw: 600, $lh: 1.36, $ls:normal) {
  @include pre-title($fs, $fw, $lh, $ls);

  color: var(--text-secondary-light);

  &::before {
    background-color: var(--text-secondary-light);
  }
}

@mixin title($fs: 42, $fw: 700, $lh: 1.16, $ls:normal) {
  @include font($fs, $fw, $lh, $ls);
  color: var(--text-main-dark);

  font-family: Raleway;
  text-align: left;
  text-transform: capitalize;

  margin: 20px 0;
}

@mixin title--dark($fs: 42, $fw: 600, $lh: 1.16, $ls:normal) {
  @include title($fs, $fw, $lh, $ls);
  color: var(--text-main-light);
}

@mixin after-title($fs: 18, $fw: 400, $lh: 1.6, $ls:normal) {
  @include font($fs, $fw, $lh, $ls);
  color: var(--text-secondary-dark);
  font-family: Open Sans;
  text-align: left;

  margin-bottom: 20px;
}

@mixin after-title--dark($fs: 18, $fw: 400, $lh: 1.6, $ls:normal) {
  @include after-title($fs, $fw, $lh, $ls);
  color: var(--text-secondary-light);
}

// ------------------button------------------

@mixin button {
  @include font(null, 600, null, 9%);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-main-light);
  text-transform: uppercase;

  min-width: 160px;
  height: 40px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid var(--accent);
  border-radius: 25px;

  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--accent);
    transition: background-color 300ms linear;
  }
}

@mixin button--dark {
  @include button;
  color: var(--text-main-dark);
}

// ----------------media-----------------------

@mixin sm-mobile {
  @media screen and (max-width: 480px) {
  }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
  }
}


