:root {
	--text-main-dark: rgb(48, 48, 48);
	--text-secondary-dark: rgb(85, 85, 85);
  
	--text-main-light: rgb(255, 255, 255);
	--text-secondary-light: rgba(157, 164, 189, 0.6);
  
	--text-accent: rgb(255, 108, 0);
  
	--accent: rgb(255, 108, 0);
	--secondary-light: rgb(247, 247, 247);
	--secondary-dark: rgb(25, 28, 38);
  }